springboot:
  jwt:
    access-secret: DeaguGreenArtAcademyClass502ForJavaSpringBootaaaasdf
    refresh-secret: HelloWorldRefreshTokenCreateBySecretHaHaaasdfasdf
    header-scheme-name: authorization
    token-type: Bearer
spring:
  servlet:
    multipart:
      max-file-size: 3MB
      max-request-size: 12MB
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/hi_school
    username: root
    password: green502
  data:
    redis:
      host: localhost
      port: 6379
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
#  mvc:
#    pathmatch:
#      matching-strategy: ant_path_matcher
# mybatis config
mybatis:
  type-aliases-package: com.green.secondproject
  mapper-locations: classpath:mapper/**/*.xml
# swagger
springdoc:
  swagger-ui:
    path: /swagger.html
file:
  dir: D:/home/download
  imgPath: http://192.168.0.144:5003/img/hiSchool/userPic
  aprimgPath: http://192.168.0.144:5003/img/hiSchool/userApr
  logoPath: http://192.168.0.144:5003/logo
my-api:
  key: 9a7b0b8f560b480abf0d0cb941af2bea
  key2: 9dd88f65ea0be9e40510e536212d21fe
---
spring:
  config:
    activate:
      on-profile: "prod"
  jpa:
    hibernate:
      ddl-auto: update
  data:
    redis:
      host: 192.168.0.144
  datasource:
    url: jdbc:mariadb://192.168.0.144:3306/team_c
file:
  dir: /home/download
---
spring:
  config:
    activate:
      on-profile: test
  datasource:
    url: jdbc:mariadb://localhost:3306/hi_school_test
    username: root
    password: green502
#  sql:
#    init:
#      mode: always
#      schema-locations: classpath:init/schema.sql
#      data-locations: classpath:init/data.sql