<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.secondproject.myPage.MyPageMapper">


    <update id="UpdTeacherInfo">
        UPDATE user
        SET nm = #{nm}
        , phone = #{phone}
        , address = #{address}
        , pic = #{pic}
        WHERE user_id = #{userId}
        AND role = "ROLE_TC"
    </update>


    <update id="UpdStudentInfo">
        UPDATE user
        SET nm = #{nm}
        , phone = #{phone}
        , address = #{address}
        , pic = #{pic}
        WHERE user_id = #{userId}
        AND role = "ROLE_STD"
    </update>


    <select id="selStudentMyPage">
        SELECT A.user_id userId, A.nm stdnm, A.email, A.pic, A.birth, A.phone, A.address
        , B.class_id classId, B.grade, B.class van, C.school_id schoolId, C.nm snm
        FROM user A
        INNER JOIN van B
        ON B.class_id = A.class_id
        INNER JOIN school C
        ON C.school_id = B.school_id
        WHERE user_id = #{userId}
            AND role = "ROLE_STD"
    </select>


    <select id="selTeacherMyPage">
        SELECT A.user_id userId, A.nm tnm, A.email, A.pic, A.birth, A.phone, A.address
        , B.class_id, B.grade, B.class van, C.school_id schoolId, C.nm snm
        FROM user A
        INNER JOIN van B
        ON B.class_id = A.class_id
        INNER JOIN school C
        ON C.school_id = B.school_id
        WHERE user_id = #{userId}
            AND role = "ROLE_TC"
    </select>
</mapper>