<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.secondproject.mypage.MyPageMapper">


    <select id="selUserMyPage">
        SELECT A.user_id userId, A.nm unm, A.email, A.role, A.pic, A.birth, A.phone, A.address, A.detail_addr detailAddr
        , B.class_id classId, B.grade, B.class van, C.school_id schoolId, C.nm schnm
        FROM user A
        INNER JOIN van B
        ON B.class_id = A.class_id
        INNER JOIN school C
        ON C.school_id = B.school_id
        WHERE user_id = #{userId}
    </select>


    <update id="updUserInfo">
        UPDATE user
        SET nm = #{nm}
        , phone = #{phone}
        , address = #{address}
        , detail_addr = #{detailAddr}
        , pw = #{pw}
        WHERE user_id = #{userId}
    </update>


    <update id="updUserPic">
        UPDATE user
        SET pic = #{pic}
        WHERE user_id = #{userId}
    </update>


    <update id="delUser">
        UPDATE user
        SET del_yn = 1
        WHERE user_id = #{userId}
    </update>


    <!--    <update id="updUserPw">-->
    <!--        UPDATE user-->
    <!--        SET pw = #{pw}-->
    <!--        WHERE user_id = #{userId}-->
    <!--    </update>-->
</mapper>