<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.secondproject.student.StudentMapper">



    <update id="delStudent">
        UPDATE user
        SET del_yn = 1
        WHERE user_id = #{userId}
        AND role = "ROLE_STD"
    </update>

    <select id = "selMockTestResultByDates">
        SELECT A.year, A.mon, C.nm cateName, B.nm,
        A.standard_score standardScore, A.rating, A.percent
        FROM mock_result A
        INNER JOIN subject B
        ON A.subject_id = B.subject_id
        INNER JOIN sbj_category C
        ON C.category_id = B.category_id
        where A.user_id = #{userId}
        <if test='year != null and year != ""'>
            AND A.year = #{year}
        </if>
        <if test='mon != null and mon != ""'>
            AND A.mon = #{mon}
    </if>
    ORDER BY A.year desc, A.mon desc, cateName asc
    </select>

    <select id="getHighestRatingsOfMockTest">
        select C.nm nm, MIN(A.rating) rating
        from mock_result A
        INNER JOIN subject B
        ON A.subject_id = B.subject_id
        INNER JOIN sbj_category C
        on B.category_id = c.category_id
        WHERE A.user_id = #{userId} and B.category_id in(2,5,4,8)
        group by C.nm
    </select>

    <select id="getLatestRatingsOfMockTest">
        select C.nm, A.rating, concat(A.year,A.mon) date
        from mock_result A
        INNER JOIN subject B
        ON A.subject_id = B.subject_id
        INNER JOIN sbj_category C
        on B.category_id = c.category_id
        where A.user_id = #{userId} and B.category_id in(2,4,5,8) and A.year<![CDATA[<=]]>#{year} and A.mon<![CDATA[<=]]> #{mon}
        order by C.nm , A.mon desc
        limit 4
    </select>

    <select id="getMockTestGraph">
        select concat(A.year,'0',A.mon) as date, C.nm as nm,A.rating as rating
        from mock_result A
        INNER JOIN subject B
        ON A.subject_id = B.subject_id
        INNER JOIN sbj_category C
        on B.category_id = c.category_id
        where A.user_id = #{userId} and B.category_id in(2,5,4,8)and A.year = #{year} and A.mon<![CDATA[<=]]>#{mon}
        ORDER BY A.year,A.mon,C.nm
    </select>

    <select id = "selAcaTestResultByDatesAndPeriod">
        SELECT A.year, A.semester, A.mid_final midFinal, C.nm cateName, B.nm nm,
        A.score, A.rating, A.class_rank classRank, A.whole_rank wholeRank
        FROM aca_result A
        INNER JOIN subject B
        ON A.subject_id = B.subject_id
        INNER JOIN sbj_category C
        ON C.category_id = B.category_id
        where A.user_id = #{userId}
        <if test='year != null and year != ""'>
            AND A.year = #{year}
        </if>
        <if test='semester != null and semester != ""'>
            AND A.semester = #{semester}
        </if>
        <if test='midFinal != null and midFinal != ""'>
            AND A.mid_final = #{midFinal}
        </if>
        ORDER BY A.year desc, A.semester desc, A.mid_final desc;
    </select>

    <select id="getHighestRatingsOfAcaTest">
        select C.nm nm, min(A.rating) rating
        from aca_result A
        INNER JOIN subject B
        ON A.subject_id = B.subject_id
        INNER JOIN sbj_category C
        on B.category_id = c.category_id
        WHERE A.user_id = #{userId} and B.category_id in(1,3,7,6) and year<![CDATA[<=]]>#{year}
        group by C.nm
    </select>

    <select id="getLatestRatingsOfAcaTest">
        SELECT CONCAT(year,semester,mid_final) date, C.nm, A.rating
        FROM aca_result A
        INNER JOIN subject B
        ON A.subject_id = B.subject_id
        INNER JOIN sbj_category C
        on B.category_id = c.category_id
        WHERE user_id = #{userId} AND (YEAR, semester, mid_final) IN (
        SELECT YEAR, semester, mid_final FROM aca_result
        WHERE result_id = (
        SELECT MAX(result_id) FROM aca_result
        WHERE user_id = #{userId})) and B.category_id in(1,3,6,7) ;
    </select>

    <select id="getAcaTestGraph">
        select concat(year,semester,mid_final) as date, C.nm as nm,A.rating as rating
        from aca_result A
        INNER JOIN subject B
        ON A.subject_id = B.subject_id
        INNER JOIN sbj_category C
        on B.category_id = c.category_id
        where A.user_id = #{userId} and B.category_id in(1,3,6,7) and A.year = #{year}
        ORDER BY A.year,A.semester,A.mid_final
    </select>

</mapper>
