<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.secondproject.student.StudentMapper">


    <update id="delStudent">
        UPDATE user
        SET del_yn = 1
        WHERE user_id = #{userId}
        AND role = "ROLE_STD"
    </update>

    <select id = "selMockTestResultByDates">
        SELECT A.year, A.mon,  B.nm,B.cateName,
        A.standard_score standardScore, A.rating, A.percent
        FROM mock_result A
        INNER JOIN(select C.nm, D.nm cateName
        from subject C
        INNER JOIN sbj_category D
        ON C.category_id = D.category_id
        where type = 1) B
        where A.user_id = #{userId}
        <if test='year != null and year != ""'>
            AND A.year = #{year}
        </if>
        <if test='mon != null and mon != ""'>
        AND A.mon = #{mon}
    </if>
    ORDER BY A.year desc, A.mon desc;
    </select>


</mapper>