<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.secondproject.teacher.subject.SubjectMapper">


<select id="subCate" resultType="SubjectVo">
    SELECT category_id categoryid,nm
    FROM sbj_category
    WHERE TYPE = 1
</select>

    <select id="subject">
        select subject_id subjectid,nm,category_id categoryid
        from subject
    </select>

<insert id="instcsbj">
    INSERT INTO tc_sbj
    (user_id,subject_id)
    VALUES
    (#{user_id},#{subject_id})
</insert>

    <select id="tcslist" resultType="SubjectDetailVo2">
        SELECT DISTINCT A.category_id categoryid,A.nm,C.user_id userid
        FROM  sbj_category A
        INNER JOIN subject B
        ON A.category_id = B.category_id
        INNER JOIN tc_sbj C
        ON B.subject_id = C.subject_id
        INNER JOIN user D
        ON C.user_id = D.user_id
        WHERE A.`type`= 1 AND C.user_id = #{userid} and D.apr_yn = 1
    </select>
    <select id="smalllist" resultType="SubjectVo2">
        SELECT A.subject_id subjectid,A.nm,B.user_id userid
        FROM subject A
        INNER JOIN tc_sbj B
        ON A.subject_id= B.subject_id
        INNER JOIN user C
        ON B.user_id = C.user_id
        WHERE B.user_id = #{userid} and C.apr_yn = 1
    </select>
    <select id="classnum">
        SELECT  COUNT(C.class_id) classid FROM van A
        INNER JOIN school B
        ON A.school_id = B.school_id
        INNER JOIN user C
        ON A.class_id = C.class_id
        WHERE C.class_id =#{classid} AND B.school_id = {schoolid}
    </select>

    <select id="schoolnum">
        SELECT  COUNT(B.school_id) schoolid FROM van A
        INNER JOIN school B
        ON A.school_id = B.school_id
        INNER JOIN user C
        ON A.class_id = C.class_id
        WHERE  B.school_id = #{schoolid} and A.grade = #{grade};
    </select>

    <insert id="acasubject">
        INSERT INTO aca_result
        (user_id,subject_id,YEAR,semester,MID_final,score,rating,class_rank,whole_rank)
        VALUES
        (#{user_id},#{subject_id},YEAR(NOW()),#{semeter},#{mid_final},#{score},#{rating},#{class_rank},#{whole_rank})
    </insert>
</mapper>

