<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.secondproject.teacher.subject.SubjectMapper">


    <select id="subCate" resultType="SubjectVo">
        SELECT category_id categoryid,nm
        FROM sbj_category
        WHERE TYPE = 1
    </select>

    <select id="subject">
        select DISTINCT A.subject_id subjectid ,A.nm ,A.category_id categoryid FROM
        subject A
        INNER JOIN sbj_category B
        ON A.category_id = B.category_id
        WHERE B.`type` =1 and A.category_id = #{categoryid};
    </select>
    <select id="tcslist" resultType="SubjectDetailVo2">
        SELECT DISTINCT B.subject_id subjectid,A.nm,C.user_id userid
        FROM sbj_category A
        INNER JOIN subject B
        ON A.category_id = B.category_id
        INNER JOIN tc_sbj C
        ON B.subject_id = C.subject_id
        INNER JOIN user D
        ON C.user_id = D.user_id
        WHERE A.`type`= 1 AND C.user_id = #{userid} and D.apr_yn = 1
        group BY A.nm

    </select>
    <select id="smalllist" resultType="SubjectVo2">
        SELECT DISTINCT A.subject_id subjectid,A.nm,B.user_id userid
        FROM subject A
        INNER JOIN tc_sbj B
        ON A.subject_id= B.subject_id
        INNER JOIN user C
        ON B.user_id = C.user_id
        inner JOIN sbj_category sc
        on A.category_id = sc.category_id
        WHERE B.user_id = #{userid} and C.apr_yn = 1
    </select>
    <select id="classnum">
        SELECT COUNT(C.class_id) classid FROM van A
        INNER JOIN school B
        ON A.school_id = B.school_id
        INNER JOIN user C
        ON A.class_id = C.class_id
        WHERE C.class_id = #{classid} AND C.role ="ROLE_STD" AND C.apr_yn = 1
    </select>

    <select id="schoolnum">
        SELECT COUNT(B.nm) * 14 nm FROM van A
        INNER JOIN school B
        ON A.school_id = B.school_id
        INNER JOIN user C
        ON A.class_id = C.class_id
        WHERE A.grade = #{grade} AND C.role ="ROLE_STD" AND C.apr_yn = 1
    </select>

    <select id="mockbiglist" resultType="MockSubjectBigVo">
        SELECT DISTINCT B.category_id categoryid,B.nm
        from subject A
        INNER JOIN sbj_category B
        ON A.category_id = B.category_id
        WHERE B.`type` = 2
    </select>

<!--    <select id="mocksmalllist">-->
<!--        SELECT A.subject_id subjectid ,A.nm ,A.category_id categoryid FROM subject A-->
<!--        INNER JOIN sbj_category B-->
<!--        ON A.category_id = B.category_id-->
<!--        WHERE B.`type` = 2 AND A.category_id = #{categoryid}-->
<!--    </select>-->

    <insert id="instcsbj">
        INSERT INTO tc_sbj
        (user_id,subject_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.userid},#{item.subjectid})

        </foreach>
    </insert>

    <insert id="acasubject">
        INSERT INTO aca_result
        (user_id,subject_id,YEAR,semester,MID_final,score,rating,class_rank,whole_rank)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.userid},#{item.subjectid},YEAR(NOW()),#{item.semester},#{item.midfinal},
            #{item.score},#{item.rating},#{item.classrank},#{item.wholerank})
        </foreach>
    </insert>

    <insert id="mockins">
        INSERT INTO mock_result
        (user_id,subject_id,year,mon,standard_score,rating,percent)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.userid},#{item.subjectid},YEAR(NOW()),#{item.mon},#{item.standardscore},#{item.rating},#{item.percent})
        </foreach>
    </insert>

    <select id="stulist">
        SELECT nm FROM user
        WHERE role = "ROLE_STD" AND class_id = #{classid}
        and apr_yn =1 and user_id = #{userid};
    </select>


    <select id="mockgraph">
        SELECT B.nm, rating, COUNT(rating) ratio
        FROM mock_result A
        INNER JOIN subject B
        ON A.subject_id = B.subject_id
        INNER JOIN sbj_category C
        on B.category_id = c.category_id
        INNER JOIN user D
        ON A.user_id = D.user_id
        WHERE D.class_id = #{classId} and B.category_id = #{categoryId}
        and A.year = year(NOW()) and mon = 6
        GROUP BY B.nm, rating;

    </select>

    <select id="mocktotal">
        SELECT SUM(cnt_rating)
        FROM (
        SELECT COUNT(rating) AS cnt_rating
        FROM mock_result A
        INNER JOIN subject B
        ON A.subject_id = B.subject_id
        INNER JOIN sbj_category C
        ON B.category_id = c.category_id
        INNER JOIN user D
        ON A.user_id = D.user_id
        WHERE D.class_id = #{classId} AND B.category_id = 2 AND A.year = YEAR(NOW())
        AND mon = 6
        GROUP BY B.nm, rating
        ) AS derived_table;
    </select>

    <select id="selaca">
        SELECT B.category_id categoryId, A.subject_id subjectId,A.score,A.rating,A.class_rank classRank ,A.whole_rank
        wholeRank, A.semester,A.mid_final midfinal FROM
        aca_result A
        INNER JOIN
        subject B
        ON A.subject_id = B.subject_id
        WHERE result_id = #{resultId}
    </select>
    <select id="selmock">
        SELECT B.category_id categoryId , A.subject_id subjectId,A.standard_score standardScore,A.rating,A.percent,A.mon
        FROM
        mock_result A
        INNER join
        subject B
        ON A.subject_id = B.subject_id
        WHERE result_id = #{resultId};
    </select>

</mapper>

