<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.secondproject.teacher.subject.SubjectMapper">


<!--    <select id="subCate" resultType="SubjectVo">-->
<!--        SELECT category_id categoryId, nm-->
<!--        FROM sbj_category-->
<!--        WHERE TYPE = 1-->
<!--    </select>-->

    <select id="subject">
        select DISTINCT A.subject_id subjectId ,A.nm ,A.category_id categoryid FROM
        subject A
        INNER JOIN sbj_category B
        ON A.category_id = B.category_id
        WHERE B.`type` =1 and A.category_id = #{categoryid};
    </select>

    <select id="classnum">
        SELECT COUNT(C.van_id) vanId FROM van A
        INNER JOIN school B
        ON A.school_id = B.school_id
        INNER JOIN user C
        ON A.van_id = C.van_id
        WHERE C.van_id = #{vanId} AND C.role_type ="STD" AND C.apr_yn = 1
    </select>

    <select id="schoolnum">
        SELECT COUNT(B.nm) * 14 nm FROM van A
        INNER JOIN school B
        ON A.school_id = B.school_id
        INNER JOIN user C
        ON A.van_id = C.van_id
        WHERE A.grade = #{grade} AND C.role_type ="STD" AND C.apr_yn = 1
    </select>

    <select id="mockbiglist" resultType="MockSubjectBigVo">
        SELECT DISTINCT B.category_id categoryId,B.nm
        from subject A
        INNER JOIN sbj_category B
        ON A.category_id = B.category_id
        WHERE B.`type` = 2
    </select>

<!--    <select id="mocksmalllist">-->
<!--        SELECT A.subject_id subjectid ,A.nm ,A.category_id categoryid FROM subject A-->
<!--        INNER JOIN sbj_category B-->
<!--        ON A.category_id = B.category_id-->
<!--        WHERE B.`type` = 2 AND A.category_id = #{categoryid}-->
<!--    </select>-->

    <insert id="instcsbj">
        INSERT INTO sc_sbj
        (user_id,subject_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.userid},#{item.subjectid})
        </foreach>
    </insert>

<!--    <select id="stulist">-->
<!--        SELECT nm FROM user-->
<!--        WHERE role = "STD" AND class_id = #{classid}-->
<!--        and apr_yn =1 and user_id = #{userid};-->
<!--    </select>-->
    <select id="stulist">
    SELECT user_id userid,nm FROM user
    WHERE role_type = "STD" AND van_id = #{vanId}
    and apr_yn = 1 and user_id = #{userid}
    </select>

    <!-- 3차 수정-->

    <select id="tcslist" resultType="SubjectVo">
        SELECT DISTINCT B.category_id categoryId, A.nm nm
        FROM sbj_category A
        INNER JOIN subject B
        ON A.category_id = B.category_id
        INNER JOIN sc_sbj C
        ON B.subject_id = C.subject_id
        INNER JOIN school D
        ON C.school_id = D.school_id
        WHERE A.`type`= 1 AND C.grade = #{grade} AND D.school_id = #{schoolId}
        group BY A.nm
    </select>

    <select id="smallList" resultType="SubjectVo3">
        SELECT A.subject_id subjectId,A.nm
        FROM subject A
        INNER JOIN sc_sbj B
        ON A.subject_id = B.subject_id
        INNER JOIN school C
        ON B.school_id = C.school_id
        WHERE C.school_id = #{schoolId} AND B.grade = #{grade} AND A.category_id=#{categoryId}
    </select>
</mapper>

