<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.secondproject.teacher.TeacherMapper">
    
    <select id="selSignedStudent">
        SELECT user_id userId, class_id classId, apr_yn aprYn, nm snm, birth, phone, email
        FROM user
        WHERE role = "ROLE_STD"
            AND apr_yn = 1
            AND class_id = #{classId}
    </select>


    <select id="selUnsignedStudent">
        SELECT user_id userId, class_id classId, apr_yn aprYn, nm snm, birth, phone, email
        FROM user
        WHERE role = "ROLE_STD"
        AND apr_yn = 0
        AND class_id = #{classId}
    </select>
    


    <select id="selAcaResult">
        SELECT A.result_id resultId, A.`year`, A.semester , A.mid_final mf
                , B.category_id categoryId, B.nm, A.score, A.rating
                , A.class_rank cr, A.whole_rank wr
        FROM aca_result A
        INNER JOIN subject B
        ON B.subject_id = A.subject_id
        WHERE user_id = #{userId}
        ORDER BY A.semester DESC
    </select>


    <select id="selMockResult" resultType="SelMockResultVo">
        SELECT A.result_id resultId, A.`year`, A.mon, B.category_id categoryId
                , B.nm , A.standard_score sc, A.rating , A.percent
        FROM mock_result A
        INNER JOIN subject B
        ON B.subject_id = A.subject_id
        WHERE user_id = #{userId}
        ORDER BY A.mon desc;
    </select>


    <update id="studentSign">
        UPDATE user
        SET apr_yn = 1
        WHERE user_id = #{userid}
    </update>






    <update id="delTeacher">
        UPDATE user
        SET del_yn = 1
        WHERE user_id = #{userId}
        AND role = "ROLE_TC"
    </update>


        <!--  학급현황 // 성수천 작업  이거 service단에서 class_id 자동받기 가능?-->
<select id="classStudent">
    SELECT  COUNT(C.class_id) classid FROM van A
    INNER JOIN school B
    ON A.school_id = B.school_id
    INNER JOIN user C
    ON A.class_id = C.class_id
    WHERE C.class_id = #{classid}  AND C.role ="ROLE_STD" and apr_yn = 1 and del_yn = 0;
</select>

    <select id="aprStudent">
        SELECT count(user_id) userid FROM user
        WHERE apr_yn =0 AND class_id = #{classid} AND role = "ROLE_STD";
    </select>
</mapper>
